<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beatme">

    <application
        android:icon="@mipmap/ic_beatme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_beatme_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeatMe"
        android:allowBackup="false">
        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_landing_page"
            android:theme="@style/Theme.BeatMe.NoActionBar" />
        <activity
            android:name=".authentication.RegisterActivity"
            android:label="registerPage"
            android:theme="@style/Theme.BeatMe.NoActionBar" />
        <activity
            android:name=".authentication.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.BeatMe.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>